*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
.container{
    
    width: 1000px;
    text-align: center;
    padding: auto;
}

.heading{
    font-size: 2rem;
    padding-bottom: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    -webkit-text-stroke: 2px #040403;
}
#weatherForm { 
  width: 100%;
  margin: 0 auto;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
   padding: 3rem 0 ;
}

#city{
  width: 500px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: whitesmoke;
  
}

#search{
    width: 100px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: #7FB800;
    margin-left: 10px;
}

#search:hover{
    transform: scale(1.1);
    box-shadow:0 4px 10px rgba(0, 0, 0, .6) ;
}

.info{
    padding-top: 2.5rem;
    font-size: 20px;
    color: whitesmoke;
    -webkit-text-stroke: 1px #040403;
}

#location,#temp{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#info {
    display: flex;
    flex-direction: row;   /* single line */
    justify-content: center;
    gap: 150px;
    margin-top: 30px;
}
#humid , #wind ,#sky{
    
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

#error{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
